@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Honk&family=Protest+Revolution&family=Rubik+Glitch+Pop&display=swap');

/* .logo{
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:orange;
} */
.logo{
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: #EF5E4E;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 15%;
}
.logo :hover{
  color: #EF5E4E;
}
.dropbtn {
      
        /* color:black; */
        padding: 8px;
        /* font-size: 16px; */
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
       
        min-width: 250px;
       
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content{
        font-size: 14px;
        background-color:white;
      }
      .dropdown-content a:hover {background-color:white;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
      .dropbtn:hover {
        color:#ef5e4e;
      }
      .dropbtn{
        background-color: white;
      }
      .meenu{
        color:black;
      }
      .meenu:hover{
        color:#ef5e4e;
      }
      .sign{
        background-color: #EF5E4E;
        color:'white' important;
        /* background-color:'#EF5E4E'; */
        /* width:'200px';
        height:'40px'; */
        border: none;
        padding:5% 30%;
       
      }

      /* .loginsub{
        background-image: url('signin.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    .view{
        margin-top: 250px;
        text-align: center;
        
    } */
    .loginsub{
      background-image: url('signin.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
  }
  .view{
      margin-top: 10px;
      text-align: center;
      
  }
